ion-content.background {
    --background: url(../../assets/f1.png) ;
    --background-repeat: no-repeat;
    --background-attachment: fixed;
    --opacity: 0.8;
}
.encabezado {
    padding-top: 3%;
    color: #0f8bb5;
    font-size: 32px;
}
.form-registro {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
}
.form-registro ion-item{
    margin-bottom: 2%;
}
ion-item.color {
    --background: rgba(255, 255, 255, 0.514);
    --color: #0f8bb5;
    margin-bottom: 3%;
}
.color ion-input {
    color: black;
}
.registra {
    padding-top: 5%;
}

.alertaU {
    padding: 0;
    color: #d21212;
    font-size: 12px;
    width: 85%;
  }
.alerta {
    border: none;
}
.alerta-input {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    height: 24px;
}